#define APSTUDIO_READONLY_SYMBOLS 0
#include "resource.h"
#include "afxres.h"
IDI_ICON ICON DISCARDABLE "reddot.ico"
IDI_RECORD ICON DISCARDABLE "record.ico"
IDI_STOP ICON DISCARDABLE "stop.ico"
IDI_PLAY ICON DISCARDABLE "play.ico"
IDI_SAVE ICON DISCARDABLE "save.ico"
IDI_EDIT ICON DISCARDABLE "edit.ico"
IDI_OPTIONS ICON DISCARDABLE "options.ico"
IDD_DIALOG DIALOGEX 0,0,268,212
CAPTION "Red Dot Forever"
FONT 8,"MS Sans Serif",0,0
STYLE 0x80C80880
BEGIN
  CONTROL "&Record",IDC_RECORD,"Button",0x50010040,10,78,75,35
  CONTROL "Stop &X",IDC_STOP,"Button",0x50010040,96,78,75,35
  CONTROL "&Play",IDC_PLAY,"Button",0x50010040,181,78,75,35
  CONTROL "&Save",IDC_SAVE,"Button",0x50010040,10,118,75,35
  CONTROL "&Edit",IDC_EDIT,"Button",0x50010040,96,118,75,35
  CONTROL "&Options",IDC_OPTIONS,"Button",0x50010040,181,118,75,35
  CONTROL "&Help...",IDC_MANUAL,"Button",0x50010000,32,182,64,15
  CONTROL "&About...",IDC_ABOUT,"Button",0x50010000,101,182,64,15
  CONTROL "&Quit",IDCANCEL,"Button",0x50010000,170,182,64,15
  CONTROL "Status",IDC_STATUS,"Static",0x50020201,48,49,166,15
  CONTROL "(clock)",IDC_CLOCK,"Static",0x50020201,48,14,166,30,0x00020000
END
IDD_ABOUT DIALOGEX 0,0,198,158
CAPTION "About..."
FONT 8,"MS Sans Serif",0,0
STYLE 0x80C80880
BEGIN
  CONTROL "OK",IDOK,"Button",0x50010001,69,132,59,15
  CONTROL "#101",IDI_ICON,"Static",0x50000203,26,9,22,20
  CONTROL "Red Dot Forever 1.04",IDC_ABOUT_TITLE,"Static",0x50020201,48,9,112,20
  CONTROL "Copyright (C) 2006-2007 Matthijs Hollemans",IDC_STATIC,"Static",0x50020201,16,39,155,10
  CONTROL "Enjoy this freeware!",IDC_STATIC,"Static",0x50020201,64,68,64,10
  CONTROL "http://reddot.sourceforge.net",IDC_WEBSITE,"Static",0x50020201,42,49,107,10
  CONTROL "Click here to make a donation. Thanks!",IDC_DONATE,"Static",0x50020201,10,108,182,10
  CONTROL "If you find this program useful, please consider making",IDC_STATIC,"Static",0x50020201,5,88,187,10
  CONTROL "a donation so we can continue to develop and support it.",IDC_STATIC,"Static",0x50020201,5,98,187,10
END
IDD_OPTIONS DIALOGEX 10,9,283,261
CAPTION "Options"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80000
BEGIN
  CONTROL "",IDC_INPUT_DEVICE,"ComboBox",0x50210003,64,19,203,59
  CONTROL "",IDC_OUTPUT_DEVICE,"ComboBox",0x50210003,64,39,203,59
  CONTROL "Echo input while recording",IDC_ECHO,"Button",0x10010003,64,59,107,15
  CONTROL "Key Pressure (Aftertouch)",IDC_IGNORE_KEY_PRESSURE,"Button",0x50010003,26,103,96,10
  CONTROL "Channel Pressure (Aftertouch)",IDC_IGNORE_CHANNEL_PRESSURE,"Button",0x50010003,26,118,112,10
  CONTROL "Program Change",IDC_IGNORE_PROGRAM_CHANGE,"Button",0x50010003,149,103,64,10
  CONTROL "Set",IDC_TRIGGER_RECORD_SET,"Button",0x50010000,197,162,32,15
  CONTROL "Clear",IDC_TRIGGER_RECORD_CLEAR,"Button",0x50010000,234,162,32,15
  CONTROL "Set",IDC_TRIGGER_STOP_SET,"Button",0x50010000,197,182,32,15
  CONTROL "Clear",IDC_TRIGGER_STOP_CLEAR,"Button",0x50010000,234,182,32,15
  CONTROL "Set",IDC_TRIGGER_PLAY_SET,"Button",0x50010000,197,201,32,15
  CONTROL "Clear",IDC_TRIGGER_PLAY_CLEAR,"Button",0x50010000,234,201,32,15
  CONTROL "&Close",IDCANCEL,"Button",0x50010001,213,236,59,15
  CONTROL "MIDI Output:",IDC_STATIC,"Static",0x50020202,16,40,43,10
  CONTROL "MIDI Input:",IDC_STATIC,"Static",0x50020202,16,20,43,10
  CONTROL "Ignore these MIDI events:",IDC_STATIC,"Button",0x50000007,16,88,256,49
  CONTROL "MIDI triggers:",IDC_STATIC,"Button",0x50000007,16,147,256,79
  CONTROL "Record:",IDC_STATIC,"Static",0x50000000,26,164,27,10
  CONTROL "Stop:",IDC_STATIC,"Static",0x50000000,26,184,27,10
  CONTROL "Play:",IDC_STATIC,"Static",0x50000000,26,203,27,10
  CONTROL "",IDC_TRIGGER_RECORD_EDIT,"Edit",0x50000801,58,163,134,13,0x00000200
  CONTROL "",IDC_TRIGGER_STOP_EDIT,"Edit",0x50000801,58,182,134,13,0x00000200
  CONTROL "",IDC_TRIGGER_PLAY_EDIT,"Edit",0x50000801,58,202,134,13,0x00000200
END
IDD_TRIGGER DIALOGEX 10,9,219,73
CAPTION "Set Trigger"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10CF0800
BEGIN
  CONTROL "&Cancel",IDCANCEL,"Button",0x50010000,80,49,59,15
  CONTROL "Press a key, button, pedal or other control on your instrument or MIDI controller. The very first MIDI event that is received will become the new trigger.",IDC_STATIC,"Static",0x50000000,10,9,198,30
END
